<!doctype html>

<html lang="pt">
<head>
  <meta charset="utf-8">

  <title>CNAB</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Alcidio Lucas">

  <style>
      #main{
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      td{
          padding: 10px 20px;
      }
      
      nav{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .menu{
          display: inline-block;
          padding: 10px 20px;
      }
      
  </style>

</head>

<body>
    
    <header>
        <nav>
            <ul>
                <li class="menu">
                    <a href="/home">Home</a>
                </li>
                <li class="menu">
                    <a href="/lojas">Lojas</a>
                </li>
                <li class="menu">
                    <a href="/sair">Sair</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <section id="main">
        <table>
            <thead>
                <th>#</th>
                <th>Loja</th>
                <th>Proprietário</th>
                <th>Operação</th>
                <th>Tipo</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Valor</th>
                <th>CPF</th>
                <th>Cartão</th>
            </thead>
            <tbody>
                <%  for(let i = 0; i < operacoes.length; i++){ 
                        const data = new Date(operacoes[i].data);;
                    %>
                    <tr>
                        <td><%= operacoes[i].id_cnab %></td>
                        <td><%= operacoes[i].nome %></td>
                        <td><%= operacoes[i].dono %></td>
                        <td><%= operacoes[i].operacao %></td>
                        <td><%= operacoes[i].tipo %></td>
                        <td><%= data.toLocaleDateString() %></td>
                        <td><%= operacoes[i].hora %></td>
                        <td><%= operacoes[i].valor %></td>
                        <td><%= operacoes[i].cpf %></td>
                        <td><%= operacoes[i].cartao %></td>
                    </tr>
                <% } %>
                <tr>
                    <td colspan="8"><b>Saldo total: <%= operacoes.saldo %></b></td>
                </tr>
            </tbody>
        </table>
    </section>
  
</body>
</html>